body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #cbffa0;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main1, .main2{
  flex: 1;
  margin-bottom: 10px;
}
.scroll-text{
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  font-family: monospace;
  margin:0px -50px 0px -50px;
  background-color: black;
  color: yellow;
}
.creative{
  color: midnightblue;
}
header{
  margin-top: -50px;
  margin-left: -50px;
  margin-right: -50px;
  background-color: blueviolet;
}
.logo{
  margin-left: 50px;
  font-size: 7rem;
  color:white;
  font-family: "Pacifico", cursive;
  font-weight: 600;
  font-style: normal;
}

 h1 {
  margin-top: 20px;
  font-size: 5rem;
}
footer {
  text-align: right;
  color: midnightblue;
}
.card{
  width: 45%;
}
.right{
  float: right;
}
.left{
  float: left;
}
.right-below{
  float: right;
}
.left-below{
  float: left;
}

.card-title{
  color: rgb(12, 97, 0);
}

img{
  margin-right: 40px;
  float: left;
  height: 200px;
  border-radius: 10px;
  border: 5px solid rgb(12, 97, 0)
}

@media(max-width: 680px){
  body{
    background-color: black;
  }
  .scroll-text{
    background-color: rgb(134, 243, 243);
    color: red;
  }

  header{
    background-color: orange;
    text-align: center;
  }
  .logo{
    font-size: 5rem;
  }
  .creative{
    border: #faf9f6 2px solid;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 25px;
    background-color: white;
  }

  h1{
    color: white;
    font-size: 3.5rem;
    text-align: center;
  }

  .card-title{
    color:aquamarine;
    margin-top:10px;
  }
  .card{
    color: white;
    font-style: italic;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    display: inline;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
  }
  img{
    border: 5px solid aquamarine;
  }
  footer{
    color:rgb(153, 255, 0)
  }
}